@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var blog in Model.Blogs)
{
    <div class="text-center">
        <h1>Title: @blog.Title</h1>
        <h3>Author: @blog.Author</h3>
        <h4>Body: @blog.Body</h4>
    </div>
}
